/Guia5/nbproject/private/
/Guia5/build/
/Guia6/nbproject/private/
/Guia6/build/
/Guia7/nbproject/private/
/Guia7/build/
/Guia8/nbproject/private/
/GuiaUtilidad/nbproject/private/
/GuiaUtilidad/build/
/Guia10/nbproject/private/
/Guia10/build/
/EjerciciosdeParcial/nbproject/private/
/EjerciciosdeParcial/build/
/Guia12/nbproject/private/
/Guia12/build/
/Guia13/nbproject/private/
/Guia13/build/
/Guia15/nbproject/private/
/Guia15/build/
/Guia15/dist/
/GuiaJavaSql/nbproject/private/
/GuiaJavaSql/build/